<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <video autoplay muted loop id="myVideo">
        <source src="rain.mp4" type="video/mp4">
      </video> -->
      <ion-card class="welcome-card">
          <ion-img src="/assets/raees.jpg"></ion-img>
          <ion-card-header> 
            <div text-right class="star" >            
            <ion-icon name="star" ></ion-icon>
            <ion-icon name="star" ></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
           </div>
           <div class="rating">
              <ion-icon name="heart" color="danger"></ion-icon><p>81%</p>
           </div>
            <ion-card-title>Raees</ion-card-title>
            <ion-card-subtitle>UI | Mar 08,2019</ion-card-subtitle>
            
          </ion-card-header>
          <ion-card-content>
              <p>2 hrs 40 min</p>
              <p>English,Hindi</p>
          </ion-card-content>
          <ion-button flat class="ion-align-left" icon="fa-rotate-left">Book Ticket</ion-button>
        </ion-card>

   

</ion-content>
